<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page not found</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link href="css/main.css" rel="stylesheet" />
</head>
<div class="headfootContentusrland">
	Page not found
</div>
<body class="body-content-errpage">
	<div class="page-content-errpage">
	  <div class="login-content-errpage">
	  <table class="tabledetails-errpage">
	  <tr><td>Click <a href="/login">here </a> to Login Page</td></tr>
	  </table>	
	</div>
	</div>
</body>	
</html>
