<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Log Out Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link href="css/main.css" rel="stylesheet" />
</head>
<div th:object="${session}" class="headfootContentusrland">User	had logged out!!!</div>
<body class="body-content">
	<div class="login-content">
		<input type="button" class="buttonstylelog"
			onClick="location.href='login.html'" value='Click here to Login Page' />
	</div>
</body>
</html>
